#detailsCard {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    width: 70vw;
    height: 70vh;
    display: flex;
    border-radius: 3em;
    align-self: center;
    flex-direction: row;
}
#detailsImg {
    width:auto;
    height: auto;
    border-radius: 3em;
}
#details {
    padding-left: 2vw;
}
#heroTitle {
    margin: 0;
    padding-top: 1vw;
    padding-right: 2vw;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
}
.info {
    font-size: 1.2em;
}