#detailsCard {
    margin-left: auto;
    margin-right: auto;
    background-color: #212529;
    width: 70vw;
    height: 70vh;
    display: flex;
    border-radius: 3em;
    align-self: center;
    flex-direction: row;
}
#detailsImg {
    width:auto;
    height: auto;
    border-radius: 3em 0 0 3em;
    border-right: 1px solid #585B5E; 
}
#details {
    padding-left: 2vw;
}
#heroTitle {
    margin: 0;
    padding-top: 1vw;
    padding-left: 2vw;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
}
.info {
    font-size: 1.1em;
}
.back {
    position: absolute;
    left: 3vw;
    bottom: 3vw;
    font-size: 1.5em;
    font-weight: bold;
}

.spinner-border{
    width: 15em;
    margin-top: 20vh;
    height: 15em;
    text-align: center;
}
@media (max-width: 1050px) {
    #detailsCard {
        width: 100vw;
    }
}
@media (max-width: 750px) {
    #detailsImg {
        width:200px;
        height: 200px
    }
}
@media (max-width: 500px) {
    .info {
        font-size: 0.8em;
    }
    #detailsCard {
        height: auto;
    }
}