.dropdown-menu{
    background-color: #14171ae0;
    width: 20vw;
    padding: 0;
    border-radius: 0.5em;
    position: absolute;
    inset: auto auto 0px 0px!important;
    margin: 0px;
    transform: translate(0px, -40px)!important;
}
.powerstat{
    text-align: start;
    color: white;
    margin: 5px;
    font-size: 1.5em;
}
.progress-bar {
    overflow: visible;
    background-color: transparent;
    border-bottom: solid 1px white;
    border-radius: 0.1  em;
    animation: opacity 2s;
    animation-iteration-count: initial;
}
  
  @keyframes opacity {
    0% {
        opacity: 0;
    }
      100% {
        opacity: 1;
      }
}
