#team {
    display: flex;
    flex-wrap: wrap;
    min-height: 20vh;
    justify-content: center;
}
.teamMember {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 1vw;
    width: 28vw;
}
.teamMemberImg {
    width: 100%;
    border-radius: 2em;
}
.heroNameContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20%;
    width: 100%;
    background-color: #212529ce;
}
.heroName {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}
.buttons {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    bottom: 10%;
}
.btnTeam{
    width: 9vw;
    font-weight: bold;
    background-color: #212529ce;
}

#noTeam {
    font-size: 3em;
    font-weight: bold;
    margin-top: 4vh;
    animation: MoveUpDown 3s linear infinite;
}
  
  @keyframes MoveUpDown {
    0% {
        transform: translateY(0);
      }
    
      50% {
        transform: translateY(10px);
      }
    
      100% {
        transform: translateY(0);
      }
}
