#home {
    margin-left: auto;
    margin-right: auto;
    background-color: #212529fd;
    width: 90vw;
    display: flex;
    border-radius: 3em;
    align-self: center;
    flex-direction: column;
    align-items: stretch;
}
#header {
    display:flex;
    margin: 1vw;
    justify-content:space-between;
    align-items: center;
    border-bottom: 1px solid #585B5E; 
}
#titleContainer {
    display: flex;
    align-items: center;
}
#teamTitle {
    margin-left: 50px;
    font-size: 3em;
}
.addHero{
    color: #d1d0d0;
    background-color: rgb(33, 37, 70);
    border: 1px solid #585B5E; 
    font-size: 1.5em;
    font-weight: bold;
}
.addHero:hover {
    color: #ffffff;
    font-weight: bold;
    background-color: rgb(45, 50, 94);
}
