body {
    color: white;
}
img {
    width: 150px;
    height: 150px;
}
.heroCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid white;
}