body {
    color: white;
}
img {
    width: 150px;
    height: 150px;
}
.heroCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid white;
}
.alert-success{
    background-color: rgba(33, 78, 48, 0.7);
    text-align: center;
    border: none;
    color: white;
    font-size: 1.5em;
}
